<html>
<head>
    <title>Places I've Been</title>
</head>
<body>
    <h1>You made a new Place entry!</h1>
    <p>{{ newplace.getName }} (Visited in {{ newplace.getYear }})</p>
    <p><a href='/'>View your list of Places!.</a></p>
</body>
</html>
